.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 6.4rem;
  background-color: var(--color-main-light-5);

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 2.7rem;
  }

  &__nav-link {
    &:link,
    &:visited {
      font-size: 2rem;
      color: #444;
    }

    &:hover,
    &:active {
      color: #333;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &__cart-link {
    position: relative;
  }

  &__cart-items-num {
    position: absolute;
    top: -1.2rem;
    right: -1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main-dark-5);
    border-radius: 50%;
    color: #fff;
    height: 2rem;
    width: 2rem;
  }
}
